# Ignore everything.
/**

# Explicitly add tracked files:

!/.gitignore
!/README.md
!/fetch-deps.py

!/mickstr/
!/mickstr/meson.build
!/mickstr/mickstr_implementation.c

!/raygui/
!/raygui/meson.build
!/raygui/raygui_implementation.c

!/raylib-fix-GetWindowHandler.patch

!/woycontainer/
!/woycontainer/**
